<div class="columns is-multiline" id="card-container">
  <div class="column is-full spacer">
    <a href="/newpost">
    <button class="button is-info" id="new-post-button">Create new post</button>
    </a>
  </div>
  {{!-- posts append here --}}



  {{!-- posts append here --}}
  </div>
  <script href="./js/dashboard.js"></script>