<div class="columns is-multiline" id="card-container">
  <div class="column is-full spacer">
  </div>
  {{#each posts as |post| }}
  <div class="column is-full">
    <div class="card">
      <a href="/posts/{{post.id}}">
        <header class="card-header has-background-success">
          <p class="card-header-title">
            {{post.title}}
          </p>
        </header>
        <div class="card-content">
          <div class="content">
            <p>Created by: {{post.user.username}}</p>
          </div>
        </div>
    </div>
    </a>
  </div>
  
  {{/each}}
</div>